<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "BackUp",   "/users/new" %></li>
            <li><%= link_to "Restore",   "/users/restore" %></li>
            <li><%= link_to "Validate", "/users/validate" %></li>
          </ul>
        </nav>
      </div>
    </header>